


.project {
	/* border: 1px solid white; */
	width: 97%;
    margin-left: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--FF);
	background-color: black;
	min-height: 100vh;
	color: #fff;
	/* padding: 80px 60px 0px 60px; */
    padding-top: 60px;
}

/* .project-title{
    display: flex;
    gap: 5px;
} */
/* .project-title::first-line{
    background-color: white;
} */

.project h1 {
	font-weight: 600;
	font-size: 2.2rem;
	color:orange;
    font-family: var(--FF-1);
    padding-bottom: 10px;
}
.project h1::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: orange;
    display: inline-block;
    box-shadow: 0px 5px 10px #6abdf97c;
    margin-bottom: 20px;
}

.container-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);   
    gap: 25px;
}

.project-card{
    /* border: 1px solid green; */
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #373a3c7c;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-card h2{
    color:rgb(236, 234, 231) ;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 700;
    font-family: cursive;
}

.project-card h4{
    color:rgb(173, 177, 177);
    padding-bottom: 10px;
}


.lower{
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    /* background-color: orange; */
    padding-top: 10px;
   

}

.lower a{
    text-decoration: none;
    /* color: black; */
    font-weight: bold;
    
    

}

.project-github-link{
    display: flex;
    border: 0.5px solid white;
    width: 115px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    gap: 15px;
    background-color:orange
    /* color: white; */
}
.project-github-link img{
    border-radius: 50%;
}

.project-deployed-link{
    display: flex;
    border: 0.5px solid white;
    width: 175px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    gap: 15px;
    background-color: orange;
}

.project-deployed-link img{
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
	.container-card {
       /* flex-direction: column; */
       display: grid;
       grid-template-columns: repeat(1,1fr);
		margin-right: 30%;
        width: 95%;
        
	}
    .project{
        
        width: 86%;
        margin-right: 90px;
    }
}

@media screen and (max-width: 800px) {
	.container-card {
       /* flex-direction: column; */
       display: grid;
       grid-template-columns: repeat(1,1fr);
		margin-right: 30%;
        width: 95%;
        
	}
    .project{
        
        width: 86%;
        margin-right: 90px;
    }
}



    @media screen and (max-width: 1200px) {
        .container-card {
            display: grid;
            grid-template-columns: repeat(1,1fr);
             /* margin-right: 30%; */
             width: 90%;
             
        }

        .project{
        
            width: 90%;
            /* margin-right: 90px; */
        }
	
    }
