
.github-container {
	/* border: 1px solid white; */
	/* width: 1250px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--FF);
	background-color: black;
	min-height: 100vh;
	color: #fff;
	padding: 80px 60px 0px 60px;
}
.github-container h1 {
	font-weight: 600;
	font-size: 2.2rem;
	color: #6abdf9;
    font-family: var(--FF-1);
    padding-bottom: 10px;
}
.github-container h1::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #6abdf9;
    display: inline-block;
    box-shadow: 0px 5px 10px #6abdf97c;
}

.gridcontainer{
    /* margin: auto; */
     gap: 50px;
     margin-left: 50px;
}